@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* VARIABLE COLOR */

/* PRIMARY */
:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyantrans: hsl(178, 100%, 50%, 60%);
  
/* NEUTRAL */
  --verydarkblueb: hsl(217, 54%, 11%);
  --verydarkbluec: hsl(216, 50%, 16%);
  --verydarkbluel: hsl(215, 32%, 27%);
  --white: hsl(0 ,0%, 100%);
}
 body {
   background-color: hsl(217, 54%, 11%);
   width: 100%;
   height: 100vh;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Outfit', sans-serif;
 }

 .container {
   background-color: hsl(216, 50%, 16%);
   border-radius: 15px;
   width: 300px;
   padding: 1.5rem;

   .img {
     position: relative;

     div {
       position: absolute;
       background-color: rgba(25, 220, 214, 0.6);
       top: 0;
       width: 100%;
       height: 100%;
       opacity: 0;

       &:hover {
         opacity: 1;
         cursor: pointer;
         border-radius: 10px;
       }

       .view {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }
     }

     .mainimg {
       width: 100%;
       height: 100%;
       border-radius: 10px;
       cursor: pointer;
     }
   }

   h3 {
     margin-top: 1.5rem;
     font-size: 20px;
     font-weight: 600;
     cursor: pointer;

     &:hover {
       color: hsl(178, 100%, 50%);
     }
   }

   .description {
     margin: 0.6rem 0 1rem 0;
     color: hsl(215, 51%, 70%);
     line-height: 28px;
     font-weight: 300;
   }

   .price-days {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid hsl(215, 51%, 70%);
     padding-bottom: 1rem;
     margin-bottom: 1rem;

     .price {
       display: flex;
       align-items: center;
       color: hsl(178, 100%, 50%);
       font-size: 14px;
       letter-spacing: 1px;

       img {
         margin-right: 5px;
       }
     }

     .days {
       display: flex;
       align-items: center;
       color: hsl(178, 100%, 50%);
       font-size: 14px;

       img {
        margin-right: 5px;
       }
     }
   }

   .creator {
     display: flex;
     align-items: center;
     font-size: 15px;
     color: hsl(215, 51%, 70%);

     .avatar {
       border: 1px solid white;
       border-radius: 50px;
       margin-right: 1rem;
       width: 30px;
     }

     span {
       color: white;
       margin-left: 5px;
       cursor: pointer;

       &:hover {
        color: hsl(178, 100%, 50%);
      }
     }
   }
 }